body { 
    display: flex;
    flex-direction: column;
    margin: 0px;
    color: white;
    min-height: 100vh;
}
.header {
    height: 60px;
    width: page;
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    align-items: first baseline ;
}
.image {
    font-size: 24px;
    color: #f9faf8;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}
li{
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}
.main {
    flex: 1;
    display: flex;
    flex-direction: column;

} 
.main-hero, .main-2, .main-3, .main-4 {
    flex: auto;
    width: page;
    background-color: aqua;
}
.main-hero {
    background-color: #1f2937;
}
.main-2, .main-4{
    background-color: white;
}
.main-3 {
background-color: #e5e7eb;
}
.footer {
    height: 40px;
    background-color:#1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
   
}